<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Xóa nhân viên</h1>
<h2>Bạn đã chắc chưa?</h2>
<p>
    <a href="/employee-list">Trở về danh sách nhân viên</a>
</p>
<form th:action="@{/delete-employee}" th:object="${employee}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tên:</td>
            <td th:text="${employee.name}"></td>
        </tr>
        <tr>
            <td> Ảnh đại diện: </td>
            <td><input type="text" th:field="*{avatar}"/></td>
        </tr>
        <tr>
            <td>Phòng:</td>
            <td>
                <select name="departmentOfEmployee">
                    <option th:each="d : ${departments}"
                            th:value="${d.id}"
                            th:text="${d.name}"
                            th:selected="(${d.id} == *{departmentOfEmployee})"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Xóa"></td>
        </tr>
    </table>
</form>
</body>
</html>